{% extends 'base.html' %}
{% load static %}
{% block title %}
    Arduino | Москва и Московская область | Клуб робототехники Пиксель
{% endblock %}
{% block description %}
<meta name="description" content="
Программа обучения, описание курсов, сертификаты о дополнительном образовании, конструирование, моделирование и развитие ребенка. Компьютерная грамотность, мелкая моторика, развитие интелекта
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
{% block content %}

    <div class="row arduino-block-1bg playfont text-center">
        <div class="container kinder-block-1">
            <div class="kinder-title-1">
                Курс Arduino 12-14 лет
            </div>
            <div class="kinder-title-2" style="color:#239dd1;">
                Курс - 36 занятий <br>
                3 триместра по 12 занятий <br>
                По итогам курса выдается сертификат
            </div>
        </div>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Arduino 1 - основы электротехники и электроники
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='arduino-img-1 autosize-max500' style='padding: 15px;' src="{% static '/img/arduino-2.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>Arduino — это удобная платформа быстрой разработки электронных устройств для новичков и профессионалов.
                Платформа пользуется огромной популярностью во всем мире благодаря удобству и простоте языка
                программирования, а также открытой архитектуре и программному коду. Arduino позволяет компьютеру выйти в
                физический мир и взаимодействовать с ним посредством различных датчиков.</p>

            <p>В этом модуле будущие инженеры познакомятся с платформой Arduino, научатся программировать
                микроконтроллер ATmega328, узнают для чего используются различные электронные компоненты (резисторы,
                транзисторы, светодиоды и т.д.) и научатся применять закон Ома в реальной жизни, а не только на уроках
                физики в школе. Понятия АЦП и ЦАП станут такими же простыми как 2+2.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии рассматриваются резисторы: токоограничивающие, стягивающие и подтягивающие (устройство,
                применение и тд.). Изучается закон Ома, чтобы уметь считать сопротивление резистора для схемы, формулы
                для расчета максимальной мощности, которую может выдержать резистор.</p>

            <p>Собирается схема подключения светодиода к Arduino. Изучаются функции для управления цифровыми выходами
                платы и программируются различные варианты работы светодиода. Затем ребята выполняют самостоятельно
                задания на закрепление темы занятия.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Среда разработки Arduino IDE и набор электронных компонентов и датчиков с платой Arduino.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn2  waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Arduino 2 - умный дом
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='arduino-img-2 autosize-max500' style='padding: 15px;' src="{% static '/img/arduino-smarthome.png' %}"
                 alt="">
        </div>
        <div class="kinder-block-4">
            <p>“Умный дом” является продолжением первого модуля Arduino. В этом модуле ребята на каждом занятии будут
                собирать какой-либо элемент “умного” дома, изучая все необходимые для этого датчики.</p>

            <p>Датчики влажности, движения, температуры, наклона, газа, почвы и многие другие уже сегодня стоят на
                страже
                наших домов, помогая нам в быту и защищая нашу собственность от пожаров, хищений и затоплений.</p>

            <p>По итогу данного модуля ученики самостоятельно смогут собрать полноценную систему умного дома,
                автоматизировать многие процессы, например, сделать так,чтобы свет в комнате выключался, если нет
                движения,
                а цветок автоматически поливался, когда почва высыхает.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии изучается спецификация цифрового датчика температуры и влажности DHT11, принцип его работы,
                схема
                подключения, библиотека для работы с ним. Ребята знакомятся с новой конструкцией в программировании
                “switch”. Собирают схему метеостанции, пишут программу для ее корректной работы, проводят эксперименты и
                решают задачи на закрепление изученного материала.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Среда разработки Arduino IDE и набор электронных компонентов и датчиков с платой Arduino.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn2  waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
{% endblock %}