{% extends 'base.html' %}
{% load static %}
{% block title %}
    Киндер | Москва и Московская область | Клуб робототехники Пиксель
{% endblock %}
{% block description %}
<meta name="description" content="
Программа обучения, описание курсов, сертификаты о дополнительном образовании, конструирование, моделирование и развитие ребенка. Компьютерная грамотность, мелкая моторика, развитие интелекта
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
{% block content %}

    <div class="row kinder-block-1bg playfont text-center">
        <div class="container kinder-block-1">
            <div class="kinder-title-1">
                Курс Киндер 5-7 лет
            </div>
            <div class="kinder-title-2">
                Курс - 36 занятий <br>
                3 триместра по 12 занятий <br>
                По итогам курса выдается сертификат
            </div>
        </div>
    </div>
    <div class="container kinder-title-3 playfont py-2">
        Киндер М - механика в жизни
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='kinder-img-1 autosize-max500' src="{% static '/img/kinder-2.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На этой ступени ребенок овладеет всеми простыми механизмами, научится создавать их самостоятельно, будет
                иметь представление о работе сложных механических устройств таких, как, например, коробка передач
                автомобиля.</p>
            <p>На каждом занятии дети изучают новый механизм и как он применяется в реальной жизни. </p>
            <p>Дети узнают, что такое зубчатая, червячная или кулачковая передачи, храповой и кривошипно-шатунный
                механизмы и как они работают. Знания и навыки, полученные на этих занятиях, помогут развить ребенку
                мелкую моторику и ассоциативное мышление при сборке конструктора, разобраться в таких предметах, как
                физика и информатика, заведомо поднимая к ним интерес у ребенка. После окончания курса дети лучше
                ориентируются в том, что их окружает и проявляют интерес к дальнейшему развитию своих знаний и навыков в
                будущем.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>Первая часть занятия посвящается теории. Ребята изучают историю создания механизма, принцип его работы. После этого начинается практическая часть на которой дети собирают данный механизм и решают конструкторские задачи. Например, как увеличить силу мотора, используя шестеренки.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo. Программирование не предусмотрено.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn-kinder2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Киндер Ф - флора и фауна
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='kinder-img-2 autosize-max500' src="{% static '/img/kinder-3.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>Робототехника неразрывно связана с живой природой. Многие устройства уже нашли свое отражение в этом мире
                и до сих пор, спустя многие десятилетия, инженеры из разных стран пытаются воссоздать некоторые
                механизмы, которые встречаются у различных растений и животных.</p>

            <p>Например, роботы-гексаподы имитируют движения паука, искусственный интеллект частично воссоздает
                человеческое мышление, манипуляторы на производстве постепенно вытесняют работу человеческих рук.</p>

            <p>Дети также научатся замечать вокруг себя различные механизмы, которыми изобилует живая природа, разбирая
                их на конкретных примерах.</p>

            <p>На каждом занятии дети изучат нового представителя флоры или фауны, их ареал обитания и возможности с
                точки зрения техники. Благодаря набору Lego Education WeDo они, с помощью уже имеющихся знаний, смогут
                воссоздать некоторые движения тех существ, которые будут разобраны на занятии. В каждом из животных, от
                бабочки до кита, применяются те механизмы, которые были изучены на предыдущей ступени.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>В начале занятия дети изучают название и принцип действия механизма. Последующая часть занятия
                посвящается теории, на которой подробно разбирается жизнь того или иного животного или растения. После
                этого начинается практическая часть на которой дети собирают робота и программу, и смотрят как
                применяется тот или иной механизм.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo. Программирование не предусмотрено.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn-kinder2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Киндер К - путешествие в космос
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='kinder-img-3 autosize-max500' src="{% static '/img/kinder-4.jpg' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На данном уровне дети познакомятся с космосом! С тем как живут космонавты, чем они занимаются на работе.
                Кто был первым космонавтом в истории человечества? Что такое солнечная система и какое место наша
                планета в ней занимает? Об этом и многом другом дети узнают на этой ступени.</p>

            <p>Дети смогут собрать различные космические корабли, спутники, станции и даже модель солнечной системы!
                Узнать много нового о космосе и о том, что окружает нашу планету.</p>

            <p>В результате курса дети познакомятся с космосом, узнают его историю и почему он так важен, а также будут
                развивать навыки работы с компьютером, ассоциативное и творческое мышление.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>В начале занятия дети знакомятся с Солнечной системой, узнают какое место в ней занимает Земля, почему
                все планеты движутся вокруг солнца, а не как-то иначе. После этого дети выполняют сборку модели
                солнечной системы и смотрят как она работает.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo. Программирование не предусмотрено.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn-kinder2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>

{% endblock %}