{% extends 'base.html' %}
{% load static %}
{% block title %}
    Mindstorms PRO | Москва и Московская область | Клуб робототехники Пиксель
{% endblock %}
{% block description %}
<meta name="description" content="
Программа обучения, описание курсов, сертификаты о дополнительном образовании, конструирование, моделирование и развитие ребенка. Компьютерная грамотность, мелкая моторика, развитие интелекта
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
{% block content %}

    <div class="row mindstormspro-block-1bg playfont text-center">
        <div class="container kinder-block-1">
            <div class="mindstormspro-title-1" style="color:#ffffff;">
                Курс Mindstorms PRO 11-13 лет
            </div>
            <div class="kinder-title-2" style="color:#ffffff;">
                Курс - 36 занятий <br>
                3 триместра по 12 занятий <br>
                По итогам курса выдается сертификат
            </div>
        </div>
    </div>
    <div class="container kinder-title-3 playfont py-2">
        Mindstorms 4 - робоспорт
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='mindstormspro-img-1 autosize-max500' style='padding: 15px;' src="{% static '/img/mindstormspro-2.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>Данная ступень предназначена для того, чтобы ребенок мог участвовать в соревнованиях по робототехнике с
                набором EV3 Mindstorms. Теперь мы подходим к закономерному итогу, который позволит не просто уметь
                программировать робота, но и делать это с конкретной целью: ради победы на соревнованиях. Изучая этот
                курс, дети познакомятся с механизмами, которые позволят или ускорить мотор, или же сделать его более
                мощным. Познакомятся с теорией автоматического управления, когда будут применять различные типы
                регуляторов и узнают для чего они нужны и какое влияние оказывают на качество управления привода. Смогут
                запрограммировать робота для прохождения лабиринта или езды по линии. Эта ступень даст возможность детям
                узнать о тех проблемах, с которыми робототехники сталкиваются повсеместно и познакомит с решением таких
                задач на примере соревновательных дисциплин. Навыки. полученные в ходе обучения помогут детям стать
                самостоятельными инженерами и программистами, которые с уверенностью смогут изготовить и
                запрограммировать робота под ту дисциплину, в которой они в дальнейшем будут принимать участие.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии дети изучат новую дисциплину (например, робосумо) и какие условия и алгоритмы необходимо
                реализовать для того, чтобы робот выполнял действия согласно регламенту соревнований. Затем собирают
                робота и программируют его для того, чтобы он выполнил поставленную задачу.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Mindstorms EV3. Программирование – в среде Lego Mindstorms
                EV3.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn-kinder2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        RobotC 1 - текстовое программирование с EV3
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='mindstormspro-img-2 autosize-max500' style='padding: 15px;' src="{% static '/img/mindstormspro-3.jpg' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>RobotC - среда программирования, которая позволяет программировать микроконтроллер EV3 на языке С без
                установки дополнительных прошивок.</p>

            <p>Каждый ученик почувствует себя в роли программиста, и главное - научится писать текстовые программы,
                использовать функции встроенных библиотек, уметь оптимизировать использование памяти программой
                посредством определения типа для переменной, пользоваться всеми возможностями языка программирования C и
                многое другое.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии изучаются функции управления сервоприводами и функции вывода текста на дисплей блока EV3.
                Ребята собирают робота и решают прикладные задачи по программированию, используя изученные функции.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Mindstorms EV3. Программирование в среде RobotC.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn-kinder2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        RobotC 2 - проектная работа на RobotC
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='mindstormspro-img-3 autosize-max500' style='padding: 15px;' src="{% static '/img/mindstormspro_robotc.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>RobotC - среда программирования, которая позволяет программировать микроконтроллер EV3 на языке С.

                В этом модуле ребята улучшат свои навыки в программировании на RobotC. Ученики продолжат изучать
                необходимые функции: рисование на дисплее, функции для считывания значения с гироскопического датчика и
                многие другие. А также научатся писать собственные функции, узнают что такое массивы и применят синус и
                косинус для автоматического расчета положения радиус-вектора.

                На основе пройденного материала, ребята каждое занятие будут делать интересный и полезный проект.

                По итогам модуля, ученик будет владеть большим количеством функций и уметь программировать блок EV3 на
                языке RobotC, что в дальнейшем позволит ему легко продолжить изучать языки C/C++.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии изучаются массивы и создается проект “Касса”. Этот проект позволит получать данные о цветных штрих-кодах и, в зависимости от последовательности цветов, узнавать информацию о товаре.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Mindstorms EV3. Программирование в среде RobotC.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn-kinder2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
{% endblock %}