{% extends 'base.html' %}
{% load static %}
{% block title %}
    Mindstorms | Москва и Московская область | Клуб робототехники Пиксель
{% endblock %}
{% block description %}
<meta name="description" content="
Программа обучения, описание курсов, сертификаты о дополнительном образовании, конструирование, моделирование и развитие ребенка. Компьютерная грамотность, мелкая моторика, развитие интелекта
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
{% block content %}

    <div class="row mindstorms-block-1bg playfont text-center">
        <div class="container kinder-block-1">
            <div class="kinder-title-1" style="color:#ffffff;">
                Курс Mindstorms 10-13 лет
            </div>
            <div class="kinder-title-2" style="color:#ffffff;">
                Курс - 36 занятий <br>
                3 триместра по 12 занятий <br>
                По итогам курса выдается сертификат
            </div>
        </div>
    </div>
    <div class="container kinder-title-3 playfont py-2">
        Mindstorms 1 - системы управления на EV3
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='mindstorms-img-1 autosize-max500' style='padding: 15px;' src="{% static '/img/mindstorms-2.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На этой ступени дети научатся самостоятельно создавать роботов с применением конструктора EV3 Mindstorms
                Education и овладеют начальными навыками программирования. Узнают про то, какие бывают датчики, например
                касания, расстояния, скорости, при этом изучая природные закономерности, на основе которых работают
                датчики, а также принципы взаимодействия их с главным управляющим звеном - процессорным блоком EV3.</p>

            <p>Например, изучая ультразвуковой датчик, дети познакомятся с тем, как можно использовать звуковые волны
            заданной частоты для измерения расстояний, а также узнают какие ограничения накладывает природа на
            возможности этого датчика.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>Разбирается принцип работы гироскопического датчика, область его использования и анализ показаний с
                датчиков. Ребята соберут робота и научат его определять свое местоположение в пространстве.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор LEGO Mindstorms EV3 и среда программирования LEGO Mindstorms
                EV3.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn3 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Mindstorms 2 - продвинутый EV3
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='mindstorms-img-2 autosize-max500' style='padding: 15px;' src="{% static '/img/mindstorms-3.jpg' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На этой ступени ребята продолжают знакомиться с возможностями набора LEGO Mindstorms EV3.</p>

            <p>Программирование становится ещё интересней! Дети научатся не только ставить ограничительные условия для
                работы с датчиками (в предыдущем курсе использовались условия “если расстояние < 30 см” и тому подобные)
                , но и считывать с них информацию, в дальнейшем применяя это на практике. Например робот, подъезжая к
                стене, должен будет замедляться и в конце останавливаться. Как это сделать? Дети узнают об этом на
                данной ступени.</p>

            <p>Также ребята научатся использовать различные математические операции, в том числе и те, которые в школе
                еще не проходили. Это такие операции, как “Степень числа”, “Корень числа” и “Абсолютное значение”. Они
                помогут в разработке алгоритмов управления роботами и продемонстрируют практические возможности
                робототехники.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор LEGO Mindstorms EV3 и среда программирования LEGO Mindstorms
                EV3.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn3 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Mindstorms 3 - проектная работа с EV3
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='mindstorms-img-3 autosize-max500' style='padding: 15px;' src="{% static '/img/mindstorms-4.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На этой ступени ребята закончат изучение блоков среды программирования EV3 Mindstorms, такие как “Массив”
                и “Интервал”, узнают что такое решение конструкторских задач по техническому заданию (например, создать
                робота официанта, у которого должен быть поднос, который он сможет ставить на стол и выгружать еду).
                Решение таких задач научит детей использовать свой потенциал в условиях, когда полет фантазии ограничен
                рамками задачи, которую требуется выполнить в кратчайшие сроки. Таким образом дети переходят на более
                высокий уровень мышления и учатся принимать сложные и правильные решения за ограниченный промежуток
                времени.</p>

            <p>Также данная ступень научит работе логики в программировании и дети будут знать, чем отличаются друг от
                друга операции “или” и “исключающее или”. Будут получены новые знания по программированию и математике,
                а также улучшится компьютерная грамотность, мелкая моторика и фантазия.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии дети изучат новый блок (например “Массив”), узнают для чего он нужен, как и где его применять,
                затем собирают робота по техническому заданию (например робот пылесос, который работает в отсутствие
                хозяев дома), затем решают задачи по программированию (например задать массивы параметров, по которому
                робот перемещается по квадрату).</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор LEGO Mindstorms EV3 и среда программирования LEGO Mindstorms
                EV3.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn3 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
{% endblock %}