{% extends 'base.html' %}
{% load static %}
{% block title %}
    Scratch | Москва и Московская область | Клуб робототехники Пиксель
{% endblock %}
{% block description %}
<meta name="description" content="
Программа обучения, описание курсов, сертификаты о дополнительном образовании, конструирование, моделирование и развитие ребенка. Компьютерная грамотность, мелкая моторика, развитие интелекта
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
{% block content %}

    <div class="row scratch-block-1bg playfont text-center">
        <div class="container kinder-block-1">
            <div class="kinder-title-1" style="color:#ffffff;">
                Курс Scratch 7-11 лет
            </div>
            <div class="kinder-title-2" style="color:#ffffff;">
                Курс - 36 занятий <br>
                3 триместра по 12 занятий <br>
                По итогам курса выдается сертификат
            </div>
        </div>
    </div>
    <div class="container kinder-title-3 playfont py-2">
        Scratсh 1 - знакомство со Scratсh
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='scratch-img-1 autosize-max500' style="padding: 15px;" src="{% static '/img/scratch-2.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На этой ступени дети познакомятся с новой средой программирования Scratch, научатся в ней создавать
                компьютерные игры, анимации, управлять конструктором WeDo, узнают про систему координат и многое
                другое.</p>

            <p>Scratch позволит детям не только считывать показания датчиков расстояния и наклона, но и применять эти
                показания в дальнейшем управлении мотором и в различных математических операциях, а также в управлении
                движением персонажей среды программирования на экране.</p>

            <p>В результате дети научатся работать со средой программирования Scratch, в которой смогут создавать
                анимацию, делать простые игры, выполнять математические операции, разберутся с работой системы
                координат, что обязательно поможет им в изучении математики в школе. Овладеют начальными навыками
                серьезного строкового программирования, а также окунутся в мир возможностей программирования в целом.
                Узнают сколько всего нужно учесть чтобы сделать мультик или игру.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии разбираются блоки среды Scratch, дети создают геймпад из конструктора и пишут игру в среде. С
                помощью геймпада они могут играть в свою игру.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo и среда программирования Scratch.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn3 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Scratсh 2 - анимация в Scratсh
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='scratch-img-2 autosize-max500' style="padding: 15px;" src="{% static '/img/scratch-3.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На этой ступени дети более углубленно изучат scratch и научатся делать в нем не только полноценные
                мультфильмы со звуковым сопровождением, но и интерактивные игры, в которых пользователь сможет принять
                участие (Например назвать персонажа или выбрать то, что этот персонаж скажет или сделает).</p>

            <p>На данной ступени дети почувствуют себя режиссерами, постановщиками и сценаристами в одном лице. Смогут
                проявить фантазию и сделать что-то по-настоящему интересное.</p>

            <p>В результате дети создадут свой мультфильм или интерактивную игру, в которой они будут решать какие
                персонажи и что будут делать. Это поможет детям развить инициативность, фантазию, а также им
                предоставится возможность продемонстрировать свои способности как актеров при озвучивании мультфильмов.
                Поможет развить гибкость ума при решении творческих задач с помощью математики и программирования.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии дети вспоминают блоки определенной вкладки (например “Внешность”), после чего думают какой
                блок поможет в создании различных эффектов (например исчезновение, отскок, мерцание), далее решают
                интересные задачи по программированию ( например сделать так, чтобы при столкновении спрайты разлетелись
                в разные стороны).</p>

            <p><strong>Оборудование:</strong></p>

            <p>Среда программирования Scratсh.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn3 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        Scratсh 3 - создание игр в Scratch
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='scratch-img-3 autosize-max500' style="padding: 15px;" src="{% static '/img/scratch-4.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>На данной ступени дети научатся использовать имеющиеся знания по Scratch в ином свете, например, блоки
                внешности можно использовать для индикатора здоровья. Ребята познакомятся с созданием собственных
                блоков, к примеру, для создания силы тяжести в игре, и научатся использовать списки для создания таблицы
                рекордов. Раскроют еще больше возможностей, которые таит в себе Scratch.</p>

            <p>Для создания игр необходимо не только глубокое понимание Scratch, к которому мы шли на предыдущих
                ступенях, но и принципиально новые знания и навыки, которые дети смогут получить именно на Игро-scratch.
                Этот уровень поможет развить творческий потенциал ребенка и познакомит с такими науками, как физика игр
                и оптимизация для того, чтобы спрайты могли реагировать на определенные обстоятельства, например, при
                столкновении со стеной отскакивать от нее, при минимальном количестве команд. То есть, решение будет
                содержать такое количество команд, которое требуется, при этом не будет ничего лишнего.</p>

            <p>Эти знания помогут развить фантазию, позволят ребенку осматривать проблему в целом прежде, чем принять
                решение. Полученные навыки помогут в изучении школьной программы, а также будет развита гибкость
                мышления при решении творческих задач.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>На занятии дети вспоминают блоки определенной вкладки (например “Сенсоры”), после чего думают какой блок
                поможет в создании эффективного управления спрайтом (например сделать управление стрелками или курсором
                мыши), затем решают задачи по программировании (например делают так, чтобы один спрайт управлялся
                стрелками, а другой - буквами).</p>

            <p><strong>Оборудование:</strong></p>

            <p>Среда программирования Scratсh.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn3 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>

{% endblock %}