{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container playfont">
        <div class="row">
            <div class="col-12 text-center mt-4 mb-1">
                <p class='summer-title-1'>Технический лагерь</p>
            </div>
        </div>
        <div class="container summer-btnblock-1">
          <a href="#">
              <button class="btn btn-outline-custom btn2 summer-btn-black">Описание лагеря</button>
          </a>
          <a href="#">
              <button class="btn btn-outline-custom btn2 summer-btn-black">Направления</button>
          </a>
          <a href="#">
              <button class="btn btn-outline-custom btn2 summer-btn-black">Распорядок дня</button>
          </a>
          <a href="#">
              <button class="btn btn-outline-custom btn2 summer-btn-black">Расписание смен</button>
          </a>
        </div>
    </div>
    <div class="row summer-bg-1 mt-5"></div>
    <div class="row summer-bg-2">
      <div class="container summer-block-1">
        <div class='summer-title-2'>Описание лагеря</div>
        <div class="row dots mt-2"></div>
        <div class="container summer-text-1">
          Городской лагерь "Пиксель" - это место, где дети могут отдохнуть на школьных каникулах, найти новых друзей и провести время с пользой. Робототехника, программирование Minecraft и Processing, 3D - моделирование и печать. Практические занятия и интерактивные методики развивают навыки в самых востребованных сферах. Мы полностью берем на себя решение всех вопросов, связанных с детьми пока Вы на работе.
        </div>
      </div>

    </div>
    <div class="row summer-bg-3">123</div>
{% endblock %}
