{% extends 'base.html' %}

{% block title %}
    Онлайн расписание | Клуб "Пиксель"
{% endblock %}
{% block content %}
{% block description %}
<meta name="description" content="
Бесплатное пробное занятие по робототехнике и программированию. Скидка для многодетных семей. Акции, скидки, бюджетные цены, доступная робототехника.
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center playfont py-4">
                <div class='table-title'>Расписание</div>
                <div class='table-description'>Выбирайте подходящую группу и записывайтесь с помощью онлайн расписания. После записи, наш специалист свяжется с Вами в течение 24 часов, для подтверждения записи. </div>
            </div>
            <div class='col-12 mb-3'>
                <script src="https://intgr7fd2fabf2b4146a83a815d56fc075ded.listokcrm.ru/wapi/script"></script><div id="listokWidgetContainer"></div>
            </div>
        </div>
    </div>

{% endblock %}
