{% extends 'base.html' %}
{% load static %}
{% block title %}
    WeDo | Москва и Московская область | Клуб робототехники Пиксель
{% endblock %}
{% block description %}
<meta name="description" content="
Программа обучения, описание курсов, сертификаты о дополнительном образовании, конструирование, моделирование и развитие ребенка. Компьютерная грамотность, мелкая моторика, развитие интелекта
"/>
{% endblock %}
{% block keywords %}
<meta name="keywords" content="
"/>
{% endblock %}
{% block content %}

    <div class="row wedo-block-1bg playfont text-center">
        <div class="container kinder-block-1">
            <div class="kinder-title-1">
                Курс WeDo 7-9 лет
            </div>
            <div class="kinder-title-2" style="color:#00ab4e;">
                Курс - 36 занятий <br>
                3 триместра по 12 занятий <br>
                По итогам курса выдается сертификат
            </div>
        </div>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        WeDo 1 - основы робототехники
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='wedo-img-1 autosize-max500' style="padding: 15px;" src="{% static '/img/wedo-2.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>Дети на данном курсе познакомятся с набором Lego Education WeDo и овладеют начальными навыками
                программирования, применят их на практике, а также научатся работать в команде и изобретать свои
                конструкции.</p>

            <p>На каждом занятии дети проходят какое-либо устройство из реального мира и принципы его работы, а после
                этого собирают его и программируют.</p>

            <p>Программирование набора происходит с помощью блоков визуального программирования среды Lego Education
                WeDo. Данная среда сделана так, чтобы дети, не имеющие навыков программирования могли управлять роботами
                и, в дальнейшем, в ходе образовательного процесса, могли использовать все блоки, которые имеются в
                данной среде. На этой ступени детей ожидает изучение основ программирования. По завершению курса они
                смогут:</p> <ul>1) самостоятельно запускать и останавливать моторы;</ul>
            <ul>2) управлять роботом с помощью датчиков;</ul>
            <ul>3) Изучат такие понятия как “Ожидание”, “Цикл”, математическая вероятность и многое другое.</ul>

            <p>1 и 2 уровни необходимы для последовательного развития ребенка, что улучшает его адаптацию к работе с
                компьютером (программированию).</p>

            <p>Первая ступень в игровой форме знакомит ребят с основами конструирования, а также развивает мелкую
                моторику и ассоциативное мышление.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>Тема “Картонный завод” Дети изучают как делается картон, смотрят наглядное видео о его производстве,
                понимают принцип работы. После этого собирают его, разбираясь в каждом механизме, и программируют его
                работу.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo и среда программирования Wedo.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        WeDo 2 - продвинутый WeDo
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='wedo-img-2 autosize-max500' style="padding: 15px;" src="{% static '/img/wedo-3.png' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>Дети продолжат изучать блоки среды программирования Lego Education WeDo, а также применять эти знания для
                создания программ управления роботом. Упор делается на такие понятия как:</p> <ol>1) “Математические
            операции”, которые имеются в среде программирования - это сложение, вычитание, умножение, деление;</ol>
            <ol>2) Вывод информации на экран; </ol>
            <ol>3) Применение датчиков для вычисления и получения результата;</ol>

            <p>Также дети продолжат изучать принципы работы конкретных устройств, узнавая как работает что-то новое или
                взглянув на что-то уже знакомое, но взглядом инженера.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>Тема “Шаттл”. Дети изучают этот тип самолетов, узнают для чего они нужны и как они работают. После этого
                собирают его. Затем изучают программный блок “Математика”, после чего применяют этот блок на практике
                для программирования работы робота</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo и среда программирования Wedo.</p>
        </div>
    </div>
    <div class="container text-center py-2">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>
    <div class="container kinder-title-3 playfont py-2 mt-4">
        WeDo 3 - механический
    </div>
    <div class="kinder-block-2">
        <div class="kinder-block-3">
            <img class='wedo-img-3 autosize-max500' src="{% static '/img/wedo-4.jpg' %}" alt="">
        </div>
        <div class="kinder-block-4">
            <p>Для чего нам шестеренки? Зачем их так много?</p>

            <p>На все эти вопросы ответит механическая ступень!</p>

            <p>На этой ступени дети изучат или вспомнят такие механизмы, как зубчатая, червячная или реечная передача.
                Узнают как они работают и смогут самостоятельно их применять в своих проектах. Также дети будут решать
                задачи и вспоминать уже изученные блоки программирования среды Lego WeDo.</p>

            <p>В результате курса дети будут более уверенными программистами, а также станут еще и полноценными
                конструкторами, которые будут знать какой механизм в каком случае применить и сколько механизмов нужно
                использовать, чтобы сборка двигалась так, как они захотят. Дети будут с большей степенью понимания
                использовать набор и компьютер. Увеличат свои знания в области физики, информатики, ассоциативного и
                творческого мышления. Будут развивать мелкую моторику и свою фантазию.</p>

            <p><strong>Пример занятия:</strong></p>

            <p>Дети изучат на занятии зубчатую передачу. Посмотрят в каких реальных устройствах применяется эта
                передача. Узнают как ее правильно применять, после чего выполнят сборку с этой передачей. Далее дети
                будут решать задачи.</p>

            <p><strong>Оборудование:</strong></p>

            <p>Для обучения используется конструктор Lego Education WeDo и среда программирования Wedo.</p>
        </div>
    </div>
    <div class="container text-center py-2 mb-3">
        <a class='scroll' href="{% url 'main' %}#anchor-signup">
            <button class="btn btn-outline-custom block4-btn2 waves-effect waves-light">Записаться
            </button>
        </a>
    </div>

{% endblock %}