{% extends 'base.html' %}

{% block title %}
Технические работы | Робототехника Москва | Подольк | Домодедово | Чехов | Серпухов
{% endblock %}
{% block meta %}
<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center playfont py-5 text-black-50 error-page">
            <div class="error-font-title">Запрашиваемая страница не найдена</div>
            <p>Возможно, в данный момент ведутся технические работы</p>
            <p>Наш второй сайт <a href="https://labrobotics.ru/">labrobotics.ru</a></p>
        </div>
    </div>
</div>

{% endblock %}