{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center robotext mt-5">
                <h3 style="font-weight:bold;">Ваша заявка принята, в ближайшее время мы с Вами свяжемся</h3>
            </div>
            <div class="col-10 offset-1 signup-thx-line" style="margin-top: 40px;"></div>
            <div class="col-8 offset-2">
                <h6 class="py-4 mb-4 robotext" style="color: #737373; font-weight: 100;">
                    Бесплатное пробное занятие – возможность попробовать и принять решение по поводу записи. Если ученик не записывается в группу, занятие бесплатное, его оплачивать не нужно. При покупке абонемента, пробное занятие входит в абонемент и списывается, как первое занятие.
                </h6>
            </div>
        </div>
    </div>
{% endblock %}